.header{
    width: 1480px;
}
.candidate-name{
    width:258px;
    height: 51px;
    font-size: 18px;
    line-height: 27px;
    color: #1A5276;
    font-weight: 500;
    top:57px;
    left:80px
}
.section{
    width:303px;
    height: 42px;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}
.question-timer{
    width: 448px;
    height: 55px;
    top: 56px;
    left: 952px;
}
.header-btn{
    background-color: #1A5276;
    padding:14px, 24px, 14px, 24px;
    border-radius:8px;
    width:65px !important;
    height: 55px !important;
    gap:48px
}