.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.total-test {
  width: Fixed (260px)px;
  height: Hug (172px)px;
  top: 158px;
  left: 426px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.total-test>p {
  width: 212px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.total-test>h2{
  width: 212px;
height: 44px;
gap: 0px;
opacity: 0px;

}